
@import url(../css/fonts.css);


html, body{
   
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;

}


:root{
    /* Theme colors */
    --text-charcoal: #424b54;
    --text-puff: #ebcfb2;
    --bg-color: #0f0f0f;
    --white: #ffffff;
    --text-pale: #c5baaf;

    /*gradient color*/
    --peach: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);

    /* theme font family */
    --Abel: 'Abel', cursive;
    --Josefin:'Josefin', cursive;
    --Montserrat:'Montserrat', cursive;
    --OpenSans:'OpenSans', cursive;
    --Roboto: 'Roboto', cursive;
    --Barlow: 'Barlow', cursive;

}


/*-----------Global classes------------*/
a{
    text-decoration: none;
    color: var(--text-charcoal);
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul{
    list-style-type: none;
}

h1{
    font-family: var(--Josefin);
    font-size: 2.5rem;
}

h2{
    font-family: var(--Josefin);
}

h3{
    font-family: var(--Abel);
    font-size: 1.4rem;
}

button.btn{
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-family: var(--OpenSans);
    cursor: pointer;

}

span{
    font-family: var(--Abel);
}

.container{
    margin: 0 5vw;
}

/*-----x------Global classes-----x-----*/


/*-----------navbar------------*/

.nav{
    background: white;
    padding: 0 2rem;
    height: 0rem;
    min-height: 10vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
}

.nav .nav-menu{
    justify-content: space-between;
}

.nav .toggle-collapse{
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons{
    font-size: 1.4rem;
    color: var(--text-charcoal)
}

.collapse{
    height: 22rem;
}

.nav .nav-items{
    display: flex;
    margin: 1.1rem;
}

.nav .nav-items .nav-link{
    padding: 1.6rem 1rem;
    font-size: 1.2rem;
    position: relative;
    font-family: var(--Abel);
    font-size: 1.1rem;
}

.nav .nav-items .nav-link:hover{
    background-color: var(--text-puff);
}

.nav .nav-items .nav-link:hover a{
    color: white;
}

.nav .nav-brand a{
    font-size: 1.6rem;
    padding: 1rem 0;
    display: block;
    font-family: var(--Barlow);
    font-size: 1.7rem;
}
  
.nav .social{
    padding: 1.4rem 0;
}

.nav .social{
    padding: 0 .2rem;
}

.nav .social i:hover{
    color: #a1c4cf;
}

/*------x-------navbar----x--------*/


/*------Main Content------*/

/*----------Site title-----------*/

main .site-title{
    background: url(../img/img2.jpg);
    background-size: cover;
    height: 110vh;
    display: flex;
    justify-content: center;
}

main .site-title .site-background{
    padding-top: 10rem;
    text-align: center;
    color: white;
}

main .site-title h1, h3{
    margin: .3rem;
}

main .site-title .btn{
    margin: 1.8rem;
    background: var(--peach);
}

main .site-title .btn:hover{
    background: transparent;
    border: 1px solid var(--white);
    color: var(--white);
}

/*------x-------Site title-------x-------*/

/*----------Carousel-----------*/

main .blog{
    background-image: url(../img/abstract.png);
    background-repeat: no-repeat;
    background-position: right;
    height: 100vh;
    width: 100%;
    background-size: 65%;
}

main .blog .blog-post{
    padding-top: 6rem;
}

main .blog-post .resto-1{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 3rem 2rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

main .resto-1 .resto-name{
    padding: 2rem 0;
}

main .resto-1 .btn-resto{
    padding: .7rem 2rem;
    background: var(--peach);
    margin: .5rem;
}

main .resto-1 span{
    display: block;
}

/*----x------Carousel-----x------*/

/*---x---Main Content---x---*/


/*      Viewport less than or equal to 750px        */

@media only screen and (max-width: 750px){
    .nav .nav-menu, .nav .nav-items{
        flex-direction: column;
    }

    .nav .toggle-collapse{
        display: initial;
    }

}

/*   x   Viewport less than or equal to 750px     x   */